.container {
    padding: 0 15px;
    margin: 0 auto;
    /* cheking container border */
    // outline: 2px solid tomato;
    @include mobile{
        width: 480px;
    }
    @include tablet {
            width: 768px;
    }
    @include desktop {
            width: 1200px;
    }
}