.logo {
    @include font (700, 26px, 1.19, 0.03em);
    font-family: var(--brand-font-family);
    color: var(--text-color);
    text-decoration: none;
}
/* logo */
.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo__style-web {
    color: var(--brand-color);
}
/* Footer logo */
.footer__logo {
    padding-top: 60px;
    margin-bottom: 20px;
    display: inline-block;

    &--light {
        color: var(--hero-text);
    }
}