.project__section {
    padding-top: 0;
}

.project__title,
.team__title {
    @include font (700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--title);
}

/* /-----------project list/-------- */
.project__list {
    @include align(flex, null, space-between);
    padding-top: 50px;
}

.project__item {
    z-index: -1;
}

/* /-----project-top-wrap-----/ */
.project__top-wrap {
    position: relative;
    width: 100%;
    min-height: 70px;
    display: flex;
}

.project__top-text {
    @include font (700, 14px, 1.14, 0.03em);
    @include align(flex, center, center);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}