.team__section {
    padding-top: 0;
    background-color: var(--button-text-color);
}
.team__title {
    padding-top: 94px;
}
.members__list {
    @include align(flex, null, space-between);
    padding-top: 50px;
}
.members__card {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/* Team item ::content */
.members__photo {
    padding-bottom: 30px;
    border-radius: 0px;
}
.members__name {
    @include font (500, 16px, 1.18, 0.03em);
    padding-bottom: 10px;
    text-align: center;
    color: var(--title);
}
.members__position {
    @include font (null, 14px, 1.18, 0.03em);
    padding-bottom: 16px;
    color: var(--secondary-text);
    text-align: center;
}
/* <---Social link list---> */
.team__social {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    height: 44px;
}
