
html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--background-color);
color: var(--text-color);
}

.title {
text-align: center;
@include font (700,28px,1.17,0.03em);
@media screen and (min-width: 1200px){
@include font (null, 36px, 1.16, null);
}


}