:root {
    --text-color: #000;
    --hero-text: #FFFFFF;
    --title: #212121;
    --background-color: #FFFFFF;
    --background-secondary: #E5E5E5;
    --brand-color: #2196F3;
    --button-text-color: #F5F4FA;
    --secondary-text: #757575;
    --hero-footer-bg: #2F303A;
    --brand-font-family: 'Raleway';
}

/* outline: 2px solid tomato; */